<!DOCTYPE html>
<html>
<head>
    <title>Flask-SocketIO Chat</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', () => {
            var socket = io();
            socket.on('connect', () => {
                console.log('Connected to server');
            });
            socket.on('message', (msg) => {
                let li = document.createElement('li');
                li.innerText = msg;
                document.getElementById('messages').appendChild(li);
            });
            document.getElementById('send').onclick = () => {
                let msg = document.getElementById('message').value;
                socket.send(msg);
                document.getElementById('message').value = '';
            };
        });
    </script>
</head>
<body>
    <ul id="messages"></ul>
    <input id="message" autocomplete="off"><button id="send">Send</button>
</body>
</html>
